In [34]:
import pandas as pd

In [35]:
import numpy as np

In [36]:
data = pd.read_csv("datasets.csv")

descriptive data analysis

first five data

In [37]:
df=pd.DataFrame(data)

In [38]:
df

,datasetName,about,link,categoryName,cloud,vintage
0,Microbiome Project,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,GloBI,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
3,CommonCraw 2012,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN,2012.0
4,Indiana Webclicks,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN
...,...,...,...,...,...,...
56,ClueWeb12 FACC,ClueWeb12 FACC,http://lemurproject.org/clueweb12/FACC1/,Natural Language,NaN,2012.0
57,Google Ngrams,Google Books Ngrams (2.2TB),https://aws.amazon.com/datasets/google-books-n...,Natural Language,Amazon,NaN
58,EDRM Enron,"EDRM Enron EMail of 151 users, hosted on S3",https://aws.amazon.com/datasets/enron-email-data/,Social Networks,Amazon,NaN
59,GetGlue,GetGlue - users rating TV shows,http://getglue-data.s3.amazonaws.com/getglue_s...,Social Networks,NaN,NaN
60,Twitter RepLab,Twitter Data for Online Reputation Management,http://nlp.uned.es/replab2013/,Social Networks,NaN,2013.0

last 5 data

In [39]:
df.tail()

,datasetName,about,link,categoryName,cloud,vintage
56,ClueWeb12 FACC,ClueWeb12 FACC,http://lemurproject.org/clueweb12/FACC1/,Natural Language,NaN,2012.0
57,Google Ngrams,Google Books Ngrams (2.2TB),https://aws.amazon.com/datasets/google-books-n...,Natural Language,Amazon,NaN
58,EDRM Enron,"EDRM Enron EMail of 151 users, hosted on S3",https://aws.amazon.com/datasets/enron-email-data/,Social Networks,Amazon,NaN
59,GetGlue,GetGlue - users rating TV shows,http://getglue-data.s3.amazonaws.com/getglue_s...,Social Networks,NaN,NaN
60,Twitter RepLab,Twitter Data for Online Reputation Management,http://nlp.uned.es/replab2013/,Social Networks,NaN,2013.0

In [40]:
df.head()

,datasetName,about,link,categoryName,cloud,vintage
0,Microbiome Project,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,GloBI,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
3,CommonCraw 2012,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN,2012.0
4,Indiana Webclicks,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN

In [41]:
data.shape

(61, 6)

In [42]:
df.dtypes

datasetName      object
about            object
link             object
categoryName     object
cloud            object
vintage         float64
dtype: object

In [43]:
df.info

<bound method DataFrame.info of            datasetName                                            about  \
0   Microbiome Project                American Gut (Microbiome Project)
1                GloBI               Global Biotic Interactions (GloBI)
2       Global Climate                   Global Climate Data Since 1929
3      CommonCraw 2012              3.5B Web Pages from CommonCraw 2012
4    Indiana Webclicks  53.5B Web clicks of 100K users in Indiana Univ.
..                 ...                                              ...
56      ClueWeb12 FACC                                   ClueWeb12 FACC
57       Google Ngrams                      Google Books Ngrams (2.2TB)
58          EDRM Enron      EDRM Enron EMail of 151 users, hosted on S3
59             GetGlue                  GetGlue - users rating TV shows
60      Twitter RepLab    Twitter Data for Online Reputation Management

                                                 link       categoryName  \
0             https://github.com/biocore/American-Gut            Biology
1   https://github.com/jhpoelen/eol-globi-data/wik...            Biology
2                      http://en.tutiempo.net/climate    Climate/Weather
3   http://www.bigdatanews.com/profiles/blogs/big-...  Computer Networks
4   http://cnets.indiana.edu/groups/nan/webtraffic...  Computer Networks
..                                                ...                ...
56           http://lemurproject.org/clueweb12/FACC1/   Natural Language
57  https://aws.amazon.com/datasets/google-books-n...   Natural Language
58  https://aws.amazon.com/datasets/enron-email-data/    Social Networks
59  http://getglue-data.s3.amazonaws.com/getglue_s...    Social Networks
60                     http://nlp.uned.es/replab2013/    Social Networks

     cloud  vintage
0   GitHub      NaN
1   GitHub      NaN
2      NaN   1929.0
3      NaN   2012.0
4      NaN      NaN
..     ...      ...
56     NaN   2012.0
57  Amazon      NaN
58  Amazon      NaN
59     NaN      NaN
60     NaN   2013.0

[61 rows x 6 columns]>

drop method to remove coloumns which are not useful

In [53]:


new_d = df.drop("vintage", axis='columns')

In [54]:
new_d

,datasetName,about,link,categoryName,cloud
0,Microbiome Project,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub
1,GloBI,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub
2,Global Climate,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN
3,CommonCraw 2012,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN
4,Indiana Webclicks,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN
...,...,...,...,...,...
56,ClueWeb12 FACC,ClueWeb12 FACC,http://lemurproject.org/clueweb12/FACC1/,Natural Language,NaN
57,Google Ngrams,Google Books Ngrams (2.2TB),https://aws.amazon.com/datasets/google-books-n...,Natural Language,Amazon
58,EDRM Enron,"EDRM Enron EMail of 151 users, hosted on S3",https://aws.amazon.com/datasets/enron-email-data/,Social Networks,Amazon
59,GetGlue,GetGlue - users rating TV shows,http://getglue-data.s3.amazonaws.com/getglue_s...,Social Networks,NaN
60,Twitter RepLab,Twitter Data for Online Reputation Management,http://nlp.uned.es/replab2013/,Social Networks,NaN

In [52]:
df.describe

<bound method NDFrame.describe of            datasetName                                            about  \
0   Microbiome Project                American Gut (Microbiome Project)
1                GloBI               Global Biotic Interactions (GloBI)
2       Global Climate                   Global Climate Data Since 1929
3      CommonCraw 2012              3.5B Web Pages from CommonCraw 2012
4    Indiana Webclicks  53.5B Web clicks of 100K users in Indiana Univ.
..                 ...                                              ...
56      ClueWeb12 FACC                                   ClueWeb12 FACC
57       Google Ngrams                      Google Books Ngrams (2.2TB)
58          EDRM Enron      EDRM Enron EMail of 151 users, hosted on S3
59             GetGlue                  GetGlue - users rating TV shows
60      Twitter RepLab    Twitter Data for Online Reputation Management

                                                 link       categoryName  \
0             https://github.com/biocore/American-Gut            Biology
1   https://github.com/jhpoelen/eol-globi-data/wik...            Biology
2                      http://en.tutiempo.net/climate    Climate/Weather
3   http://www.bigdatanews.com/profiles/blogs/big-...  Computer Networks
4   http://cnets.indiana.edu/groups/nan/webtraffic...  Computer Networks
..                                                ...                ...
56           http://lemurproject.org/clueweb12/FACC1/   Natural Language
57  https://aws.amazon.com/datasets/google-books-n...   Natural Language
58  https://aws.amazon.com/datasets/enron-email-data/    Social Networks
59  http://getglue-data.s3.amazonaws.com/getglue_s...    Social Networks
60                     http://nlp.uned.es/replab2013/    Social Networks

     cloud  vintage
0   GitHub      NaN
1   GitHub      NaN
2      NaN   1929.0
3      NaN   2012.0
4      NaN      NaN
..     ...      ...
56     NaN   2012.0
57  Amazon      NaN
58  Amazon      NaN
59     NaN      NaN
60     NaN   2013.0

[61 rows x 6 columns]>

rename coloumn

In [58]:
df = df.rename(columns={'about':'info'})

In [59]:
df.head()

,datasetName,info,link,categoryName,cloud,vintage
0,Microbiome Project,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,GloBI,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
3,CommonCraw 2012,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN,2012.0
4,Indiana Webclicks,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN

In [73]:
duplicate_df_row = df[df.duplicated()]

In [63]:
duplicate_df_row

Empty DataFrame
Columns: [datasetName, info, link, categoryName, cloud, vintage]
Index: []

drop duplicate values

In [64]:
df= df.drop_duplicates()

is Null to check null values

In [65]:
df.isnull()

    datasetName   info   link  categoryName  cloud  vintage
0         False  False  False         False  False     True
1         False  False  False         False  False     True
2         False  False  False         False   True    False
3         False  False  False         False   True    False
4         False  False  False         False   True     True
..          ...    ...    ...           ...    ...      ...
56        False  False  False         False   True    False
57        False  False  False         False  False     True
58        False  False  False         False  False     True
59        False  False  False         False   True     True
60        False  False  False         False   True    False

[61 rows x 6 columns]

total null values by adding .sum() to check how many nulls are there

In [67]:
df.isnull().sum()

datasetName      0
info             0
link             0
categoryName     0
cloud           37
vintage         30
dtype: int64

remove rows with word "na"

In [69]:
df = df.dropna()

In [71]:
df.count()

datasetName     2
info            2
link            2
categoryName    2
cloud           2
vintage         2
dtype: int64

In [72]:
df

,datasetName,info,link,categoryName,cloud,vintage
32,FBI Hate Crime 2013,FBI Hate Crime 2013 - aggregated data,https://github.com/emorisse/FBI-Hate-Crime-Sta...,Social Sciences,GitHub,2013.0
41,NYC Uber,NYC Uber trip data April 2014 to September 2014,https://github.com/fivethirtyeight/uber-tlc-fo...,Transportation,GitHub,2014.0